
* {
 font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
 font-family: 'Fira Sans', sans-serif;
}

body {
 text-align: justify;
 background-image: url(background.jpg);
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

br:after {
 text-indent: 3em;
}

li {
 padding-bottom: 10px;
}
