
* {
 font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
 font-family: 'Fira Sans', sans-serif;
}

body {
 text-align: justify;
 width: 640px;
 height: 100%;
 padding-left: 100px;
 background-image: url(background.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

br:after {
 text-indent: 3em;
}

li *:first-child {
 text-align: left;
}

blockquote::first-letter {
 float: left;
 font-family: 'Fira Sans';
 font-size: 64px;
 line-height: 50px;
 padding-top: 4px;
 padding-right: 4px;
 padding-left: 3px;
}

li {
 padding-bottom: 10px;
}
