
* {
 font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
 font-family: 'Fira Sans', sans-serif;
}

body {
 text-align: justify;
 width: 640px;
 height: 100%;
 padding-left: 100px;
 background-image: url(background.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

br:after {
 text-indent: 3em;
}

li *:first-child {
 text-align: left;
}

blockquote {
 text-indent: 1em;
}

blockquote::first-letter {
 font-size: 200%;
 font-weight: bolder;
}

li {
 padding-bottom: 10px;
}
